<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Map</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="map-container" [class.map-loading]="loadingDisplay" [class.ios-bg]="ios">
    <capacitor-google-map #map></capacitor-google-map>
  </div>
</ion-content>
